<!DOCTYPE html>
<html>
  <head>
    <title>The Idea App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">The Idea App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/ideas">Ideas</a>
            </li> 
            <li class="nav-item">
              <%= link_to "New Idea", new_idea_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/info">Info</a>
            </li>
          </ul>
          <p class="navbar-text float-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-link" %>
              <%= image_tag current_user.gravatar_url, class: "gravatar" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %> |
              <%= link_to "Log in", new_user_session_path, class: "navbar-link" %>
            <% end %>
          </p> 
        </div>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        Ovatech <%= Time.now.year %>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
